site "hawken.is" {
    start-url "https://hawken.is/"
    fetch-delay "1s"

    include-rule "*://hawken.is/*"

    exclude-rule "*://hawken.is/robots.txt"

    authentication method="post" action="https://auth.hawken.is/example" {
        field login_username="me" login_password="passwd"
    }

    // by default, 403 and 401 are treated as authentication failures, and the log-in is processed.
    // The `unauthorized-when` node allows us to handle sites that don't use those codes...
    unauthorized-when body="<title>One Moment Please...</title>"
    unauthorized-when body="<b>This item is reserved for Registered Members.</b>"
}
